.body{
    display: flex;
    flex-direction: column;
    background-color: #b8aea0;
}

.darkTheme {
    background-color: #121212;
    color: #e0e0e0;
}

.App{
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}