.myForm {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
}
.myForm form{
    display: flex;
    flex-direction: column;
}
.myForm label {
    margin: 0 5px;
}

.myForm input{
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px;
}

.result{
    margin: 5px;
    background-color: lightgray;
    border: 1px solid green;
    text-align: center;
}